.nav{
    grid-area: n;
    background-color: rgba(43, 180, 35, 0.64);
    width: 100%;
}

.item{
    margin: 10px;
    border: #19a01c 1px solid;
    text-align: center;
    color: white;
}

.item a{
    color: #6578cc;
    text-decoration: none;
}

.item a.active{
    color: #144a91;
}

