.nav{
    grid-area: n;
    background-color: rgba(255, 242, 213, 0.87);
    width: 100%;
    border-right: #fad470 1px solid;
}

.item{
    margin: 10px;
    border: #fad470 1px solid;
    text-align: center;
    color: white;
}

.item a{
    color: #6578cc;
    text-decoration: none;
}

.item a.active{
    color: #144a91;
}

.friends{
    display: flex;

}

h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

