.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;

}

.dialogsItems {
    padding: 10px;
    border-right: 1px solid #ff576b;
}

.dialogsItems .active{
    color: #62c4e6;
}

.messages {

}

.sendedMessages{

}

.newMessage textarea{
    width: 85%;
}